html{
    background:chartreuse
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid rgba(10, 10, 10, 0.822);
    background: #fff
}


h1 {
    font-size: 5em;
    margin: 0
}

h2 {
    font-size: 2em;
    margin: 0
}
#blog {
    border-top: 1px dotted chartreuse;
}
.blog-post {
border-bottom: 1px dotted #ccc;
}
.featured img {
    height: 100px;
    width: 200px;
    float: right;
    margin-right: 5px;

}

.stats {
    display: flex;
    background: #ccc;
}

article {
    background: #999;
    padding: 20px;
    margin: 20px;

}

article:nth-of-type(1) {
    flex: 1;
}

article:nth-of-type(2) {
    flex: 3;
}

article:nth-of-type(3) {
    flex: 1;
}

.cfb {
    display: flex;
    background: #ccc;
}